
.Rproj.user/120DDB1F/sources/prop/A2BF5B7F
.Rproj.user/120DDB1F/sources/prop/INDEX
.Rproj.user/120DDB1F/sources/s-AA1255F8/1F62A961
.Rproj.user/120DDB1F/sources/s-AA1255F8/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/120DDB1F/sources/s-AA1255F8/1F62A961-contents
